.footer {
  background-color: map-get($color, primary);
  .footer-wrapper {
    padding: 48px 0 58px 0;
  }
}

.footer-list {
  .footer-item {
    margin-top: 24px;
    font-size: map-get($font-size, xl);
    &:first-child {
      margin-top: 32px;
    }
    .footer-title {
      font-size: 26px;
    }
    i {
      margin-right: 18px;
    }
  }
}
