.form-input{
    width: 50%;
    margin: 20px;
}

.form-input label{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.form-input{
    width: min-content;
}