$color: (
  primary: #ffc017,
  dark: #000,
  textBlack: #333,
  textGreyDark: #485963,
  grey: #757575,
  white: #fff
);

$font-size: (
  xxs: 10px,
  xs: 12px,
  sm: 14px,
  md: 16px,
  lg: 18px,
  xl: 20px,
  xxl: 24px
);

$font-weight: (
  light: 300,
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700
);
