.section {
  padding: 48px 0;
}

.section-title {
  color: map-get($color, darkColor);
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 40px;
}

@media screen and (max-width: map-get($breakpoints, md)) {
  .section {
    padding: 24px 0;
  }

  .section-title {
    font-size: 18px;
    margin-bottom: 16px;
  }
}
