$color: (
  primaryColor: #fbb03b,
  greyLightColor: #f6f6f6,
  whiteColor: #fff,
  greyColor: #a8a8a8,
  greyDarkColor: #c4c4c4,
  darkColor: #333,
  blackColor: #000,
  redColor: #f00,
);

$font-family-base: "Poppins", sans-serif;
$line-height-txt: 1.5;

$font-sizes: (
  xxs: 10px,
  xs: 12px,
  sm: 14px,
  md: 16px,
  lg: 18px,
  xl: 20px,
  xxl: 24px,
);

$font-weight: (
  light: 300,
  normal: 400,
  bold: 700,
);

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$icons: (
  search-w: url("/Exercise-html-css/assets/images/icon-search.svg"),
  search-b: url("/Exercise-html-css/assets/images/ic-search.svg"),
  cart-w: url("/Exercise-html-css/assets/images/icon-cart.svg"),
  cart-b: url("/Exercise-html-css/assets/images/ic-menu-mb.svg"),
  user-w: url("/Exercise-html-css/assets/images/icon-user.svg"),
  user-b: url("/Exercise-html-css/assets/images/ic-user-mb.svg"),
  truck-y: url("/Exercise-html-css/assets/images/ic-truck-yellow.svg"),
  truck-b: url("/Exercise-html-css/assets/images/ic-truck.svg"),
  smile-y: url("/Exercise-html-css/assets/images/ic-smile-yellow.svg"),
  payment-b: url("/Exercise-html-css/assets/images/ic-payment.svg"),
  payment-y: url("/Exercise-html-css/assets/images/ic-quality-hl.svg"),
  guarantee-y: url("/Exercise-html-css/assets/images/ic-guarantee-yellow.svg"),
  guarantee-b: url("/Exercise-html-css/assets/images/ic-guarantee.svg"),
  quality-y: url("/Exercise-html-css/assets/images/ic-quality-hl.svg"),
  quality-b: url("/Exercise-html-css/assets/images/ic-quality.svg"),
);

$image: (
  banner-bg: url("/Exercise-html-css/assets/images/banner-bg.png"),
  banner-mb-bg: url("/Exercise-html-css/assets/images/banner-mobile-bg.png"),
  footer-bg: url("/Exercise-html-css/assets/images/footer-bg.png"),
  footer-mb-bg: url("/Exercise-html-css/assets/images/footer-mobile-bg.png"),
);

$opacity-base: 0.5;

$p-col: 10px;
$p-col-sm: 4px;

$icon-size: 40px;
