.badge {
  text-transform: uppercase;
  padding: 6px 4px;
  border-radius: 4px;
  font-size: 9px;
  font-weight: map-get($font-weight, bold);
}

.badge-danger {
  background-color: map-get($color, redLight);
  color: map-get($color, white);
}
