.section-title {
  font-size: 34px;
  position: relative;
  padding-bottom: 16px;
  &::after {
    content: "";
    position: absolute;
    width: 130px;
    height: 1px;
    background-color: map-get($color, primary);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}
