@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  scrollbar-width: none;
  font-family: $font-family-base;
  line-height: $line-height-txt;
  font-size: map-get($font-size, sm);
  color: map-get($color, textBlack);
}
