/* 
#header {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
}

.header-desktop {
  margin-top: 48px;
}

.navbar-item {
  margin: 0 48px;
}

.icon-item {
  margin: 0 12px;
}

.icon-item:last-child {
  margin-right: 0px;
}

.navbar-item-link {
  color: var(--primaryColor);
  font-size: 18px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .header-desktop {
    display: none;
  }

  #header {
    background-color: var(--whiteColor);
  }

  .header-mobile {
    display: flex;
    padding: 20px 0;
  }

  .header-mobile-logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .navbar-mobile-list {
    flex-direction: row-reverse;
  }
} */
