.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-truck-yellow {
  margin-right: 10px;
  background-image: url("../images/ic-truck-yellow.svg");
}

.icon-dollar-yellow {
  margin-right: 10px;
  background-image: url("../images/ic-dollar-yellow.svg");
}

.icon-smile-yellow {
  margin-right: 10px;
  background-image: url("../images/ic-smile-yellow.svg");
}

.icon-truck-service {
  background-image: url("../images/ic-truck.svg");
}

.icon-payment-service {
  background-image: url("../images/ic-payment.svg");
}

.icon-guarantee-service {
  background-image: url("../images/ic-guarantee.svg");
}

.icon-quality-service {
  background-image: url("../images/ic-quality.svg");
}

.service-item:hover .icon-truck-service {
  background-image: url("../images/ic-truck-hl.svg");
}

.service-item:hover .icon-payment-service {
  background-image: url("../images/ic-payment-hl.svg");
}

.service-item:hover .icon-guarantee-service {
  background-image: url("../images/ic-guarantee-yellow.svg");
}

.service-item:hover .icon-quality-service {
  background-image: url("../images/ic-quality-hl.svg");
}
