:root {
  --primaryColor: #fbb03b;
  --greyLightColor: #f6f6f6;
  --whiteColor: #fff;
  --greyColor: #a8a8a8;
  --greyDarkColor: #c4c4c4;
  --darkColor: #333;
  --blackColor: #000;
  --redColor: #f00;
}

.text-primary {
  color: var(--primaryColor);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1152px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.col {
  padding: 0 5px;
}

.flex-column {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.item-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.col {
  padding: 0 10px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.btn {
  text-transform: uppercase;
  padding: 14px 18px;
  color: var(--darkColor);
  background-color: var(--whiteColor);
  border-radius: 33.33px;
  font-size: 13px;
  font-weight: 700;
  height: fit-content;
  width: fit-content;
}

.btn-rounded {
  border: 1px solid;
}

.btn-primary {
  background-color: var(--primaryColor);
  color: var(--whiteColor);
}

.bagde {
  border-radius: 20px;
  width: fit-content;
  font-size: 12px;
  font-weight: 700;
  padding: 6px 10px;
  text-align: center;
}

.bagde-red {
  background: var(--redColor);
  color: var(--whiteColor);
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-hidden {
  display: none;
}

.d-inline-flex {
  display: inline-flex;
}

.d-table {
  display: table;
}

.d-table-row {
  display: table-row;
}

.d-table-cell {
  display: table-cell;
}
