@media screen and (max-width: 768px) {
  .row {
    margin: -4px;
  }

  .col {
    padding: 4px;
  }

  .col-sm-1 {
    width: 8.33%;
  }

  .col-sm-2 {
    width: 16.66%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33%;
  }

  .col-sm-5 {
    width: 41.66%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33%;
  }

  .col-sm-8 {
    width: 66.66%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33%;
  }

  .col-sm-11 {
    width: 91.66%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .container {
    max-width: calc(100vw - 48px);
  }

  .section {
    padding: 24px 0;
  }

  .btn {
    font-size: 10px;
    padding: 3px 10px;
  }

  .btn-subcribe {
    padding: 7px 20px;
    margin-top: 16px;
    font-weight: 700;
    font-size: 13px;
  }

  .bagde {
    font-size: 8px;
    border-radius: 9px;
    padding: 2px 5px;
  }
}
