@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500;1,600&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

/* HEADER */

#header{
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
}

#header .header-wrapper{
  display: flex;
  justify-content: space-between;
}

.navbar-item{
  display: inline;
  margin: 0 48px;
}

.icon-item
{
  display: inline;
  margin: 0 12px;
}

.icon-item:last-child{
  margin-right: 0px;
}

.navbar-item-link{
  font-size: 18px;
  font-weight: 700;
}

/* BANNER SECTION */
.section-banner{
  width: 100%;
  height: 100vh;
  background-image: url('../images/banner-bg.png');
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}

.section-banner::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: .5;
}

.banner-wrapper{
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
}

.banner-wrapper .banner-content{
  z-index: 1;
  position: absolute;
  width: 40%;
  top: 20%;
  left: 20%;
  color: white;
  margin: 0 auto;
}


.banner-title{
  font-size: 72px;
  font-weight: 700;
}

.banner-action-txt{
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-left: 20px
}


.banner-wrapper .banner-statitics{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: var(--whiteColor);
  margin: 0 auto;
  padding: 24px 10% 24px 20%;
  border-radius: 0 70px 0 0;
  border-bottom: 1px solid var(--greyLightColor);
}

.statitic-item{
  display: flex;
  align-items: start;
  margin-right: 48px;
}

.statitic-item:last-child{
  margin-right: 0;
}

.statistic-title{
  font-size: 14px;
  font-weight: 700;
}

.statistic-description{
  font-size: 12px;
  color: var(--greyColor);
  font-weight: 400;
}

.icon{
  margin-right: 10px;
  display: inline;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}


.icon-truck-yellow{
  background-image: url('../images/ic-truck-yellow.svg');
}

.icon-dollar-yellow{
  background-image: url('../images/ic-dollar-yellow.svg');
}

.icon-smile-yellow{
  background-image: url('../images/ic-smile-yellow.svg');
}

/* CATEGORY */

.category-list{
  width: 100%;
}


.category-item-img{
  position: relative;
  width: 100%;
  height: 100%;
}

.category-item-img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.category-item-img::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: .3;
}

.category-item-content{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  padding: 50px 40px;
}

.category-item-title{
  margin-bottom: 15px;
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
}

.sale-rate{
  border-radius: 20px;
  background: #F00;
  width: fit-content;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  padding: 6px 10px;
}


/* PRODUCT */

.section-title{
  color: #333;
  font-size: 32px;
  font-weight: 300;
}

.product-list{
  margin-top: 40px;

}

.product-item-image{
  position: relative;
}

.product-item-image img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sale-product{
  position: absolute;
  top: 24px;
  left: 18px;
}

.product-item-info{
  width: 100%;

}

.product-item-name{
  color: #333;
  font-size: 16px;
  font-weight: 300;

}

.sale-price{
  color: #F00;
  font-size: 20px;
  font-weight: 400;
}

.discounted .product-price{
  color: #CECECE;
  font-size: 20px;
  font-weight: 400;
}

.product-price{
  color: #333;
  font-size: 20px;
  font-weight: 400;
}

/* Services */
.section-services{
  background-color: var(--greyLightColor);
}

.services-header{
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.service-item-title{
  color: #333;
  font-size: 16px;
  font-weight: 700;
}

.service-active .service-item-title,.service-active .service-item-subtitle{
  color: var(--primaryColor);
}

.service-item-subtitle{
  color: #808080;
  font-size: 14px;
  font-weight: 400;
}

.section-recommend{
  margin-bottom: 60px;
}

/* Contact */
.section-contact{
  background-image: url('../images/footer-bg.png');
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
  
}

.section-contact::after{
  content: "";
  background-color: #333;
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.contact-wrapper {
  position: relative;
  padding: 85px 20px !important;
  z-index: 2;
}

.contact-description{
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
}

.contact-form{
  text-align: end;

}


.form-contact-input{
  padding: 14px 24px;
  border-radius: 60px;
  outline: none;
  border: none;
  margin-right: 40px;
}

.sub-btn{
  border: none;
  outline: none;
}


/* FOOTER */
.footer{
  background-color: var(--primaryColor);
}

.footer-wrapper{
  padding: 45px 0 60px 0 !important;
}

.footer-top-logo{
  margin-bottom: 24px;
}

.footer-top-txt{
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 60px;
}


.social-item{
  margin-right: 20px;
}

.social-action{
  color: white;
}

.infor-item-title{
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.subitem-item{
  margin-bottom: 18px;
}

.subitem-item-link{
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.footer-copyright{
  height: 66px;
  color: #FFF;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-top: 1px solid #fff;
}

.copyright-txt{
  width: 100%;
  text-align: center;
}

.org-link{
  color: #FFF;
}

